@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_AdminGunny.cshtml";
}


<div class="col-md-12">
    <div class="card card-xl-stretch mb-5 mb-xl-12">
        <div id="tree_3"></div>
       
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="/js/treeview.js?v=@DateTime.Now.ToString("yyyyMMddhhmmss")"></script>
}