
.user_login li:hover {
    background-color: #ddd;
}

.user_login:hover .menu-top {
    display: block;
}

.user_login:hover .c-account {
}
.menu-top {
    margin-top:-10px !important;
    left: 450px !important;
}


body {
    font-family: 'Roboto', sans-serif;
}

.banner-home-new .item {
   max-height: 750px;
}

.banner-home-new .item > a{
    width:100%;
}
.money{
    font-weight:bold;
}
.c-name {
  font-size:18px;

}
.block-content .row .c-item > a > img {
    max-height: 750px;
    height: 100%;
    width: 100%;
}

.logo {
    width: 120px !important;
}
  
.c-btn_cart >img{
    height:25px;
    width:25px;
}
#shopping-total{
    font-size:16px;
}
.zalo-chat-widget {
    margin-bottom: 53px !important;
    margin-right: -22px !important;
}
.add-to-cart a {
    position: absolute;
    right: 0;
    border-radius: 8px 0;
    width: 32px;
    height: 32px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.list-size {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FFFFFF;
    border: 1px solid #E7E8E9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    max-height: 250px;
    overflow: auto;
}


    .list-size::-webkit-scrollbar-track {
        background-color: white;
    }

    .list-size::-webkit-scrollbar {
        width: 5px !important;
        background-color: rgb(158, 29, 29);
    }

    .list-size::-webkit-scrollbar-thumb {
        background-color: hsl(213,22.2%,82.4%) !important;
    }

    .list-size li {
    }

        .list-size li a {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
            display: block;
            
        }

        .list-size li:last-child a {
            margin-bottom: 0;
        }

        .list-size li.unactive {
           
            pointer-events: none;
        }

            .list-size li.unactive a {
               
                color: #D1D2D4;
            }

    .list-size.open {
        opacity: 1;
        visibility: visible;
        bottom: 70px;
        cursor:pointer;
    }

    .list-size ul li button {

        outline: 0;
        background: transparent;
        border: 0;
        font-size: 16px;
        line-height: 24px;
        display: block;
        font-family: 'Montserrat';
        cursor: pointer;
        text-transform: uppercase;
        margin: 0 auto;
        padding: 12px 50px;
    }
.add-to-cart>a > img{
    margin-right:10px;
}


.c-banner_showpc {
    width: 100%
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo {
    }

    .price > div > .add-to-cart {
        padding-top: 10px;
    }
    .block-content .c-image:hover .img-first {
        opacity: 0 !important;
    }

    .block-content .c-image:hover .img-sec {
        opacity: 1 !important;
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .price > div > .add-to-cart {
        padding-top: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .price > div > .add-to-cart {
        padding-top: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .price > div > .add-to-cart {
        padding-top: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .banner-home-new .item > a {
        width: 1650px;
    }
}

.loading-css {
    font-size: 24px;
    font-weight: bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite;
    -o-animation: my 700ms infinite;
    animation: my 700ms infinite;
}

@-webkit-keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

@-moz-keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

@-o-keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}

@keyframes my {
    0% {
        color: red;
    }

    50% {
        color: #fff;
    }

    100% {
        color: red;
    }
}


.notification-box {
    position: fixed;
    z-index: 99;
    top: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.notification-bell {
    animation: bell 1s 1s both infinite;
}

    .notification-bell * {
        display: block;
        margin: 0 auto;
        background-color: #fff;
        box-shadow: 0px 0px 15px #fff;
    }

.bell-top {
    width: 6px;
    height: 6px;
    border-radius: 3px 3px 0 0;
}

.bell-middle {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    border-radius: 12.5px 12.5px 0 0;
}

.bell-bottom {
    position: relative;
    z-index: 0;
    width: 32px;
    height: 2px;
}

    .bell-bottom::before,
    .bell-bottom::after {
        content: '';
        position: absolute;
        top: -4px;
    }

    .bell-bottom::before {
        left: 1px;
        border-bottom: 4px solid #fff;
        border-right: 0 solid transparent;
        border-left: 4px solid transparent;
    }

    .bell-bottom::after {
        right: 1px;
        border-bottom: 4px solid #fff;
        border-right: 4px solid transparent;
        border-left: 0 solid transparent;
    }

.bell-rad {
    width: 8px;
    height: 4px;
    margin-top: 2px;
    border-radius: 0 0 4px 4px;
    animation: rad 1s 2s both infinite;
}

.notification-count {
    position: absolute;
    z-index: 1;
    top: -6px;
    right: -6px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #ff4927;
    color: #fff;
    animation: zoom 3s 3s both infinite;
}
.opcity05{
    opacity:0.5
}
.sold-out {
    position: absolute;
    left: calc(10% - 20px);
    top: 5px;
    width: 25%;
    padding: 5px;
    background: gray;
    color: #fff;
    font-size: 13px;
    text-align: center;
}
@keyframes bell {
    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(30deg);
    }

    20% {
        transform: rotate(0);
    }

    80% {
        transform: rotate(0);
    }

    90% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes rad {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(6px);
    }

    20% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(0);
    }

    90% {
        transform: translateX(-6px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }
}



