@{
    ViewData["Title"] = "Trang chủ";
}
<style>
    
</style>
<div class="container marketing  ">
    <div class="row">
        <img class="img-fluid"  src="~/imgs/z3377702267159_2ff8c05e0eb66ec151427a062ff00df4.jpg" />
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/imgs/z3377637502356_f41bf63db3f7b1883988cb645541b32d.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>New chicken</h2>
           
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/imgs/z3377637572730_449849e11dda111b9446e49930c1bc99.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Funny chicken</h2>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/imgs/z3377637555249_b2abcaecb74a3275b23649f3f9697e64.jpg"  alt="Generic placeholder image" width="140" height="140">
            <h2>Master chicken</h2>
        </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette" id="text-1">
        <div class="col-md-7">
            <h2 class="featurette-heading">What is Gunny Invesment?</h2>
            <p class="lead">Gunny Invesment is a game project published by ATK Group. This is the first online game project to become a professional investment game project. Using the legendary version, Gunny Investment promises to give players a lot of emotions when experiencing this special game project.</p>
        </div>

        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/imgs/z3377637517193_d240a3d4fb1a63b626d39a135eb11041.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Beginner's Guide?</h2>
            <p class="lead">At Gunny Investment, players can freely experience all the features of a traditional Gunny game project with their friends such as: Compete alone, Compete in groups, Compete with your spouse, Fight monsters, …</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="~/imgs/z3377637645340_252b8788532cad8fd368e1ce1d98e41f.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">  What are the mechanics of making money in the game?</h2>
            <p class="lead">
              
                Players will invest in their character. Then use the character to destroy the monster in the copy. Thanks to that, players will have a chance to receive a Pirate Chest. With each pirate chest, players have a chance to get $100. In addition, players can also earn money by Racing TOP, Winning tournaments or inviting new players to become VIPs. Very attractive, isn't it?
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/imgs/z3377637659776_1c9b4d34bec4bf61b51b1c05b71bad29.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">



</div>

@section Scripts {
   <script>
       function goToByScroll() {
           // Reove "link" from the ID
          
           // Scroll
           $('html,body').animate({
               scrollTop: $("#text-1" ).offset().top
           },
               'slow');
       }
       $(".my-menu-link-1").click(function (e) {
           e.preventDefault();
           goToByScroll();
       })
   </script>
}