@{
    ViewData["Title"] = "Trang chủ";
}
<style>
    
</style>
<div class="container marketing  ">
    <div class="row">
        <img class="img-fluid" src="~/s10.png">
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/imgs/z3377702267159_2ff8c05e0eb66ec151427a062ff00df4.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/imgs/z3377702267159_2ff8c05e0eb66ec151427a062ff00df4.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/imgs/z3377702267159_2ff8c05e0eb66ec151427a062ff00df4.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette" id="text-1">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/imgs/z3377637517193_d240a3d4fb1a63b626d39a135eb11041.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="~/imgs/z3377637645340_252b8788532cad8fd368e1ce1d98e41f.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="~/imgs/z3377637659776_1c9b4d34bec4bf61b51b1c05b71bad29.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">



</div>

@section Scripts {
   <script>
       function goToByScroll() {
           // Reove "link" from the ID
          
           // Scroll
           $('html,body').animate({
               scrollTop: $("#text-1" ).offset().top
           },
               'slow');
       }
       $(".my-menu-link-1").click(function (e) {
           e.preventDefault();
           goToByScroll();
       })
   </script>
}