@model Gunny.Models.InformationMemAccount.User
@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_AccountAdmin.cshtml";
}
<style>
    .account {
        margin-bottom: 30px;
    }
</style>

@if (ViewBag.userAgency != null)
{
    <div class="col-md-3">
        <div class="card card-xl-stretch mb-5 mb-xl-12">
            <div class="card-body py-3 row">
                <div class="row account">
                    <div class="col-md-5">Tên đại lý</div>
                    <div class="col-md-7">@ViewBag.userAgency.Fullname</div>
                </div>
                     <div class="row account">
                    <div class="col-md-5">Số điện thoại</div>
                    <div class="col-md-7">@ViewBag.userAgency.Phone</div>
                </div>
                     <div class="row account">
                <div class="col-md-5">Email</div>
                    <div class="col-md-7">@ViewBag.userAgency.MemEmail</div>
            </div>
            </div>
        </div>
    </div>
}
